.hero {
  width: 80%;
  height: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__title {
  font-size: 4rem;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
